.title {
  margin: 60px 0px 0px 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: white;
}

.description {
  margin: 20px 0px 0px 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}

.figure {
  margin: 28px 30px;
  height: 30px;
  background: red;
  text-align: center;
}

@media (width > 500px) {
  .content {
    height: 852px;
    overflow: auto;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  Header {
    margin-top: 60px;
  }

  .title {
    margin: 120px 0px 0px 30px;
  }
}