.bar {
  width: 140px;
  height: 5px;
  background: rgb(80, 80, 80);
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 2.5px;
}

@media (width <= 500px) {
  .bar {
    display: none;
  }
}